<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/angular.min.js"></script>
    <script src="script.js"></script>
    <style>
        div {
            width: 400px;
            border: 1px solid black;
            font-family: Arial;
            font-size: large;
            padding: 5px;
        }
    </style>
</head>
<body ng-controller="myController">
    <button id="top" ng-click="scrollToThrere('bottom')">go to bottom</button>
    <br>
    <br>
    <div>
        <p>
        正则表达式这个东西怎么说呢？
        我觉得是衡量程序员水平的一个侧面标准。
        （上面这句话中的程序员，指的是所有程序员。标准也只是一个侧面标准而已。。。得说清楚，免得被批啊）
        我们读源码时（比如jq），很有可能就会卡在它上面。
        关于它，我曾经写过几篇文章。
        </p>
        <p>
        《我也来说说正则表达式，真是另一个世界》；
        《我再说说正则表达式，求顶啊》。
        </p>
        <p>
        最近又燃起了我对其研究的兴趣。
        所以我准备重新开启个系列，专门说说这个东西。
        之所以说这个东西，是因为犀牛书，关于正则这东西，讲得太简略了。。。
        说的思路是什么呢？
        以犀牛书为基础，也会参阅部分书籍。主要是以测试为导向，验证、理解犀牛书里关于对正则的讲解。
        至于es6的，可能不会涉及太多。
        测试环境是chrome为准的，因为我是十分相信chrome的（看我的头像就会知道）。
        </p>
        <p>
        研究分两方面，分语法和应用。这里主要是关心语法，应用那得有大量实践才行。
        说语法那就要说透。这个系列对读者有个要求。需要读者对犀牛书（js权威指南）的第10章，要读过。
        其实正则基础，看两天就能学会。以我的亲身经验来说的，我是去年花了几天，就入门了。
        简单应用，写写是没问题的。而本系列，准备打算深入研究一下。
        </p>
        <p>
        从上面可以看出我在正则方面的水平。没有什么权威，只是凭着测试，来对其进行研究一下下。
        还是希望读者能有反馈，如果那块没说清楚，或者那块儿说得不对，希望能指出来。能第一时间改正，免得误导其他读者。
        还是希望自己的文章，像白居易的诗歌那样，老太太都能明白。但是这里有个不大不小的前提。
        最直白的，最简单可能还需要初学者能稍微去看看书，去百度。你看不懂的地方，其他人也很有可能看不懂。
        当然别人写的，也会参考，会给出链接的。对嘛，要写就大家一块写嘛。
        </p>
    </div>
    <br>
    <br>
    <button id="bottom" ng-click="scrollToThrere('top')">go to top</button>
</body>
</html>